<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<link rel="stylesheet" href="../static/asserts/css/bootstrap.min.css" th:href="@{/asserts/css/bootstrap.min.css}">
<script src="../static/asserts/js/jquery-3.4.1.min.js" th:src="@{/asserts/js/jquery-3.4.1.min.js}"></script>
<script src="../static/asserts/js/bootstrap.min.js" th:src="@{/asserts/js/bootstrap.min.js}"></script>
<body class="container">
<h1 class="page-header">hello world</h1>
<form class="form-horizontal" method="post" th:action="@{/check}">
    <div class="form-group">
        <label class="col-md-2 control-label" for="username">账号：</label>
        <div class="col-md-10">
            <input type="text" class="input-sm form-control" name="username" id="username">
        </div>
    </div>
    <div class="form-group">
        <label class="col-md-2 control-label" for="password">密码：</label>
        <div class="col-md-10">
            <input type="text" class="input-sm form-control" name="password" id="password">
        </div>
    </div>
    <div class="form-group">
        <button type="submit" class="col-md-2 col-lg-offset-5 btn btn-default btn-sm">登录</button>
    </div>
</form>
</body>
</html>