<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>welcome</h1>
<form method="post" th:action="@{/check}">
    <label th:text="#{login.name}"></label>
    <input type="text" name="username">
    <br>
    <label th:text="#{login.password}"></label>
    <input type="text" name="password">
    <br>
    <input type="submit" value="确定">
</form>

<a th:href="@{/index(l='zh_CN')}">中文</a>
<a th:href="@{/index(l='en_US')}">English</a>
<!--使用themleaf会自动添加上项目名-->
<img th:src="@{/asserts/images/123.png}"/>
</body>
</html>